@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.navbar {
  height: 50px;
  width: 100%;
  background: black;
}
.navbar-container {
  display: flex;
  align-items: center;
  padding: 0, 50px;
  height: 100%;
  color: white;
  font-family: Sansita, sans-serif;
}

.logo-container {
  flex: 1;
  height: 100%;
  padding: 0 50px;
  height: 100%;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
  height: 100%;
}

.menu-list {
  display: flex;
  list-style: none;
  padding-top: 0.85rem;
}

.menu-item {
  margin-right: 30px;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.menu-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50px;
  cursor: pointer;
  transition: 1s all ease;
}

.toggle-icon {
  color: gold;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  height: 2rem;
  object-fit: cover;
}

.sidebar {
  position: fixed;
  background: black;
  width: 50px;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.feauture-content {
  height: 70vh;
  padding: 50px;
  object-fit: contain;
}

.feature-title {
  width: 200px;
}

.feature-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.feature-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-title {
  color: white;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 292px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0, 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  position: absolute;
  right: 0;
  top: 90px;
  color: white;
  font-size: 120px;
  cursor: pointer;
  color: lightgray;
  opacity: 0.5;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;
}

.menu-item a.active {
  color: black;
}

.profile-container.active {
  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}
